.container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}
.home {
  width: 1200px;
  height: 100vh;
  align-items: center;
}
.column {
  flex-direction: column;
  justify-content: flex-start;
}
.grid-layout {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}
@media (max-width: 640px) {
  .container {
    width: 60vw;
  }
}
@media (min-width: 640px) {
  .grid-layout {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .container {
    width: 60vw;
  }
}

@media (min-width: 768px) {
  .grid-layout {
    padding-top: 6rem;
    padding-bottom: 6rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
  .container {
    width: 60vw;
  }
}

@media (min-width: 1024px) {
  .grid-layout {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .container {
    width: 60vw;
  }
}

@media (min-width: 1280px) {
  .grid-layout {
    padding-left: 5rem;
    padding-right: 5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2.5rem;
  }
}

@media (min-width: 1536px) {
  .grid-layout {
    padding-top: 0;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 3rem;
  }
}
